%h2= @task.title
%p= @task.description
%p= @task.location
%p= @task.budget
%p= @task.state.titleize

= link_to "Let's do it", task_path(@task, event: :receive_bid), method: :put, remote: true
= link_to "Send Counter offer", '#'
