%h2= @task.title
%p= @task.description
%p= @task.location
%p= @task.budget
%p= @task.state

= link_to "Let's do it", task_path(@task, action: :accept), method: :put
= link_to "Send Counter offer", '#'
